[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pylint = "*"

[packages]
scrapy-fake-useragent = "==1.1.0"
beautifulsoup4 = "==4.6.0"
cssselect = "==1.0.3"
Scrapy = "==1.5.0"

[requires]
python_version = "2.7"

[packages.scrapy-proxies]
git = "git://github.com/aivarsk/scrapy-proxies.git"
editable = true
